

.tweetbutton {
    background-color: rgb(52, 150, 231);
    border: none;
    color: whitesmoke;
    padding: 10px 60px;
    text-align: center;
    margin: 60px -60px ;
    cursor: pointer;
    border-radius: 16px;
    
    
  }
  
   .profile img{
  
   
  
    width: 100px;
  
    margin: 20px 10px;
  
    border-radius: 60px;


  
  }
  
 .profile{

    margin-top: -100px;
    
    padding: 0px 70px;
 }

 .profile p {

    font-size: 15px;
    height: 20px;
    padding: 0px 20px;

  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

  

   
 }

 
  
  #logo img{

    height: 80px;
    padding-left: 30px;
    
    
  }
  .content {
    
    
  }
  
  .sidebar {
    width: 250px;
    display: block;
    background-color: #FFFFFF;
    
    
  }
  
 
  .sidebar__item {
    display: flex;
    text-decoration: none;
    margin-top: 10px;
    padding-right: 20px;
    margin-left: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
   
  }
  
  .sidebar__item:hover {
    background-color: #0f7fef33;
    border-radius: 120px;
    width: fit-content;
   
  }
  
 

  
  .sidebar__item__text {
    
   
    color: #5B5C5E;
    font-weight: bold;
    font-size: 20px;

  }

  